<?xml version="1.0" encoding="UTF-8"?>
<!-- 설정 로거 debug="true" 설정변경시 자동 스캔 scan="true" -->
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  <!-- encoders are assigned the type
	       ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	  <encoder>
	  	<pattern>%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n</pattern>
	    <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
	  </encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.portfolio.project">
		<level value="DEBUG" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework.web">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework.jndi">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.security">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.ui">
		<level value="WARN" />
	</logger>

	<root level="DEBUG">
	  <appender-ref ref="STDOUT" />
	</root>
</configuration>